@{
    ViewData["Title"] = "Gestion de Roles por Usuario";
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-success py-2 justify-content-end">Agregar Usuario</button>

<div id="userList">
    <!-- Aquí se mostrará la lista de usuarios -->
</div>

<script src="~/js/vista.js"></script>
